.drum-pad {
    background-color: #424242;
    color: #BDBDBD;
    box-shadow: 0 0 1vmin #BDBDBD;
    font-weight: bold;
    padding: 5%;
    width: 20%;
    text-align: center;
    cursor: pointer;
}