body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #212121;
    font-family: 'Ubuntu', sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#drum-machine {
    display: flex;
    flex-direction: column;
    width: 80vmin;
    height: auto;
    background-color: #424242;
    box-shadow: 0 0 3vmin #EA80FC;
    border: 10px solid #424242;
}

.drum-pads {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.drum-pads:nth-child(2n) {
    margin-bottom: 2%;
    margin-top: 2%;
}



